<h1 i18n class="page-title text-accent">About Me</h1>

<div fxLayout="column">
  <article fxFlex>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <p class="text" fxFlex="75%" fxFlex.lt-md="100%">
        I am an instructor at Udemy where I teach my best selling courses about Android and Kotlin
        to over 26K students, being the Android course in Spanish most sold within the
        platform. I published my first course in November, 2016 and planning to add more
        content in the upcoming months.
      </p>
      <img class="img udemy" src="../../assets/img/udemy.svg" fxFlex="25%" fxFlex.lt-md="100%">
    </div>
  </article>
  <mat-divider></mat-divider>
  <article fxFlex>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <img class="img angular" src="../../assets/img/angular.svg" fxFlex="25%" fxFlex.lt-md="100%">
      <p class="text" fxFlex="75%" fxFlex.lt-md="100%">
        I have a keen interest in web development with Angular & Typescript. I have been working
        with Angular for several years in multiple contexts (consulting, start-ups, contracting)
        and countries (Spain, Ireland, France), which has added professional value and
        experience to my career. Nowadays, I work for remotely for a multinational corporation
        based in the USA as an Angular Developer.
      </p>
    </div>
  </article>
  <mat-divider></mat-divider>
  <article fxFlex>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <p class="text" fxFlex="75%" fxFlex.lt-md="100%">
        I joined recently the GDG Seville as a organizer, where I am planning to prepare great
        talks about some Google Technologies, expose some of my ideas to share with the
        community, count with great people on to spread the amazing content, help others
        to know the already existing communities, how to help/collaborate in Open Source
        projects and much more!
      </p>
      <img class="img gdg" src="../../assets/img/gdg.svg" fxFlex="25%" fxFlex.lt-md="100%">
    </div>
  </article>
  <mat-divider></mat-divider>
  <article fxFlex>
    <div fxLayout="column">
      <p class="text" fxFlex="100%">
        Some of the technologies/tools that I am either interested on or already using/learning
        are the followings:
      </p>
      <div class="banner-box" fxFlex="100%" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
        fxLayoutGap="25px">
        <img class="banner-img" src="../../assets/img/vscode.svg" fxFlex="9%" fxFlex.lt-md="100%">
        <img class="banner-img" src="../../assets/img/firebase.svg" fxFlex="9%" fxFlex.lt-md="100%">
        <img class="banner-img" src="../../assets/img/circle.png" fxFlex="9%" fxFlex.lt-md="100%">
        <img class="banner-img" src="../../assets/img/node.png" fxFlex="9%" fxFlex.lt-md="100%">
        <img class="banner-img" src="../../assets/img/nest.png" fxFlex="9%" fxFlex.lt-md="100%">

        <img class="banner-img" src="../../assets/img/ngrx.svg" fxFlex="9%" fxFlex.lt-md="100%">
        <img class="banner-img" src="../../assets/img/google-cloud.svg" fxFlex="9%" fxFlex.lt-md="100%">
        <img class="banner-img" src="../../assets/img/angular.svg" fxFlex="9%" fxFlex.lt-md="100%">
        <img class="banner-img" src="../../assets/img/github.png" fxFlex="9%" fxFlex.lt-md="100%">
        <img class="banner-img" src="../../assets/img/docker.png" fxFlex="9%" fxFlex.lt-md="100%">

      </div>
    </div>
  </article>
</div>
