@import '~@angular/material/theming';

$primary-dark: mat-palette($mat-grey, 900, 500, 900);
$accent-dark:  mat-palette($mat-green, A200);
$warn-dark:    mat-palette($mat-red, A200);
$theme-dark:   mat-dark-theme($primary-dark, $accent-dark, $warn-dark);


@import '_all-styled-components.scss';

.my-theme-dark {
  @include angular-material-theme($theme-dark);
  @include sidebar-color-styles($theme-dark);
}