@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo, 700, 300, 900);
$accent:  mat-palette($mat-pink);
$warn:    mat-palette($mat-deep-orange, A200);
$theme:   mat-light-theme($primary, $accent, $warn);

@import '_basic-theme-colors.scss';
@import '_all-styled-components.scss';

.my-theme {
  @include angular-material-theme($theme);
  @include basic($theme);
  @include sidebar-color-styles($theme);
}


