@import '~@angular/material/theming';
@include mat-core();

@import 'my-theme';
@import 'my-theme-dark';
@import 'my-theme-light';
@import 'my-theme-red';
@import 'my-theme-green';
@import 'my-theme-blue';

html {
    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0 auto;
        .page-title {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 25px;
        }
        .fab {
            position: fixed;
            right: 25px;
            bottom: 85px;
        }
    }
}

