@import 'sizes';

.sidenav {
    width: $sidebar-size;
}

.dynamic-content-wrapper {
    padding: $padding-space;
    padding-bottom: 50px;
    min-height: calc(100vh - (#{$header-size} + #{$footer-size}));
    box-sizing: border-box;
}

@media (max-width: 550px) {
  .dynamic-content-wrapper {
    padding-bottom: 25px;
  }
}
