<div class="wrapper" fxLayout="column">

  <div fxFlex>
    <h1 class="title">
      <span>Hi,</span>
      <span>I'm
        <b class="text-accent name">Alejandro </b> Lora,</span>
      <span>Software Developer.</span>
    </h1>
    <h3 class="subtitle">
      <span class="text-accent">Code / Learn / Enjoy!</span>
    </h3>
  </div>

  <div fxFlex>
    <ul class="contact-list" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
      <li class="contact-list-item" ngClass.lt-md="portrait">
        <a mat-raised-button color="accent" href="https://github.com/ialex90/" target="_blank">
          <i class="gh fa fa-github"></i>
          GitHub
        </a>
      </li>
      <li class="contact-list-item" ngClass.lt-md="portrait">
        <a mat-raised-button color="accent" href="https://stackoverflow.com/users/4775350/alejandro-lora/"
          target="_blank">
          <i class="so fa fa-stack-overflow"></i>
          StackOverflow
        </a>
      </li>
      <li class="contact-list-item" ngClass.lt-md="portrait">
        <a mat-raised-button color="accent" href="https://twitter.com/alexpc_/" target="_blank">
          <i class="tw fa fa-twitter"></i>
          Twitter
        </a>
      </li>
      <li class="contact-list-item" ngClass.lt-md="portrait">
        <a mat-raised-button color="accent" href="https://www.linkedin.com/in/alejandrolora/"
          target="_blank">
          <i class="lk fa fa-linkedin"></i>
          LinkedIn
        </a>
      </li>
    </ul>
  </div>

</div>

<a class="fab" mat-fab color="accent" href="mailto:alejandrofpo@gmail.com" matTooltip="Email me!">
  <mat-icon>send</mat-icon>
</a>
