@import '_variables';

.wrapper {
  .title {
    font-size: $title-big;
    margin-top: 20vh;
    font-weight: 100;
    span {
      display: block;
    }
  }
  .subtitle {
    font-size: $subtitle-big;
    font-weight: 100;
    opacity: 0.5;
    margin-top: -25px;
    span {
      letter-spacing: 0.4em;
    }
  }
  .contact-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 10vh;
    .contact-list-item {
      margin: auto 15px;
      &.portrait {
        margin: 0;
        margin: 10px auto;
      }
      .fa {
        position: relative;
        margin-right: 5px;
        font-size: 21px;
        &.gh {
          top: -2px;
        }
        &.so {
          top: -3px;
          font-size: 19px;
        }
        &.tw {
          top: -2px;
        }
        &.lk {
          top: -2px;
          font-size: 19px;
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 40vw;
    height: 65vh;
    background-image: url(/assets/img/angular.svg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(0.98) rotate(20deg);
    animation: angular-move 10s infinite;
    z-index: -10;
    opacity: 0.8;
  }
}

@keyframes angular-move {
  0% {transform: scale(0.98) rotate(20deg);}
  50% {transform: scale(1.02) rotate(22deg);}
  100% {transform: scale(0.98) rotate(20deg);}
}


@media (max-width: 959px) {
  .wrapper {
    .title, .subtitle {
      text-align: center;
    }
    &::after {
      left: 50vw;
      width: 50vw;
      height: 50vw;
      opacity: 0.2;
    }
  }
}

@media (max-width: 550px) {
  .wrapper {
    .title, .subtitle {
      text-align: left;
    }
    .title {
      margin-top: 25vh;
      font-size: $title-big-xs;
      line-height: 1.5em;
    }
    .subtitle {
      font-size: $subtitle-big-xs;
      margin-top: -10px;
    }
    .contact-list {
      margin-top: 5vh;
    }
    &::after {
      top: 3%;
      width: 70vw;
      left: 15vw;
      height: 45vh;
      opacity: 0.2;
      animation: none;
    }
  }
  .fab {
    position: sticky;
    bottom: 25px;
    float: right;
    margin-top: -45px;
    margin-bottom: 15px;
  }
}
